body{
    margin:0;
    border-radius: 0px;
    scroll-behavior: auto;
    background:image-set("Background2.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center 5px;
}

.nazev{
width: 360px;
height: 46px;
border: 1px solid black;
background: #3e48df;
outline: none;
font-size: 25px;
font-style: oblique;
vertical-align: middle;
margin-left: 35%;
margin-right: 35%;
}
.button{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background: #642399;
  font-size: 30px;
  font-style: oblique;
  vertical-align: middle;
}

.quest {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  list-style-position: outside;
  background: #0299df;
  font-family: serif;
  font-style: oblique;
  user-select: none;
  padding: 12px 40px 12px 40px;
  margin-right: 35px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.2s;
}

.header{
    text-align: center; 
    padding: 10px;
    background:image-set("Background.jpg");
    border-bottom: 6px;
    border-bottom-color: rgb(38, 3, 236);
    border-bottom-style: solid;
}

input{
    border-color: rgb(28, 4, 136);
    border-style: solid;
    float: center;
    margin: 0;
    border: 3px;
    border-radius: 7px;
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.seznam {
    margin: 0;
    padding: 0;
    border-left: 15px;
    border-right: 15px;
  }

ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    list-style-position: outside;
    background: #4c2ed4;
    font-family: serif;
    user-select: none;
    padding: 12px 40px 12px 40px;
    margin-right: 35px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
  }

  ul li.checked {
    background: #09e714;
    color: #070707;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #000000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }